body {
  background-image: url('/assets/pw_maze_black.png');
  background-repeat: repeat;
}
.main-container {
  @include outer-container;
  .center-content {
    .title{
      @include row();
      @include span-columns(12);
      text-align: center;
      background-color: #fff;
      h1 {
        font-size: 2em;
        margin-bottom: 0;
        display: inline-block;
        padding-right: 15px;
      }
    }
    .content {
      @include row();
      @include span-columns(12);
      padding: 0 15px;
      background-color: #fff;
      hr {
        margin: 1em;
      }
      .loading {
        text-align: center;
      }
      .map_canvas{
        width: 100%;
        height: 350px;
      }
      .row {
        @include row();
        @include span-columns(12);
        &.article-row {
          h3 {
            margin-bottom: 0;
          }
          p {
            font-size: 12px;
            margin: 0;
            padding: 10px;
            background-color: $light-gray;
          }
        }
        .left {
          @include span-columns(1 of 12);
          .date {
            text-align: center;
            .month {
              font-size: 2em;
            }
          }
        }
        .right {
          @include span-columns(11 of 12);
        }
      }
    }
  }
}

a.btn {
  &.secondary {
    background-color: $red;
    margin-left: 10px;
  }
}
